In [2]:
import pandas as pd
df_from_excel = pd.read_excel('/content/Soligent Compiled Products Data.xlsx')

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df_from_excel

,Name,Display Name,Manufacturer,MPN,Description,Type,Base Price,Tier Price/Watt,Wattage,spif,...,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58
0,360-0329,360-0329,,,"Enphase, IQ, Q-Cable, 240 Volt, for 60 cell 1....",Inventory Item,20.53,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,360-0328,360-0328,,,"Enphase, IQ, Q-Cable, 240 Volt, for 60/72 cell...",Inventory Item,17.45,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,360-0338,360-0338,,,"Enphase, IQ, Q Cable, 12 AWG, no connectors, U...",Inventory Item,1.42,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,321-0233,321-0233,,,"Enphase, IQ 8+ Micro Inverter, compatible with...",Inventory Item,160,,300,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,360-0333,360-0333,,,"Enphase, IQ, Terminator Cap for Q-Cable Ends, ...",Inventory Item,18.05,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6771,110-1338,110-1338,MISSION SOLAR ENERGY LLC,MSE340SX5T,"Mission, 340W PV Module, MC4, 1.0m (~39.4”) PV...",,,0.71,340,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6772,110-1249,110-1249,CANADIAN SOLAR (USA) INC,CS1Y-400MS,"Canadian Solar, 400W PV Module, 2.0m (78.7 in)...",,,0.5,400,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6773,110-1313-B,110-1313-B,"APTOS SOLAR TECHNOLOGY, LLC",DNA-120-MF26-365W,"""B"" Grade Aptos, 365W PV Module, 1.2m (~47.2”)...",,,0.52,365,0,...,0.0,0.0,0.0,0.47,No,31.0,806.00,NaN,NaN,NaN
6774,110-1293,110-1293,CANADIAN SOLAR (USA) INC,"CS3N-395MS,F30","Canadian Solar, 395W PV Module, 1.65m (65 in) ...",,,0.61,395,0,...,0.0,0.0,0.0,0.57,No,30.0,720.00,NaN,NaN,NaN
6775,110-1365,110-1365,REC SOLAR,REC370NP2,"REC, 370W PV Module, 1.1m (~43.3”), 1.2m (~47....",,,0.71,370,0,...,0.0,0.0,0.0,0.00,0,0.0,0.61,No,33.0,858.0

In [ ]:
df_from_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6776 entries, 0 to 6775
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 6776 non-null   object
 1   Display Name         6776 non-null   object
 2   Manufacturer         6776 non-null   object
 3   MPN                  6776 non-null   object
 4   Description          6776 non-null   object
 5   Type                 6776 non-null   object
 6   Base Price           6776 non-null   object
 7   Tier Price/Watt      6776 non-null   object
 8   Wattage              6776 non-null   object
 9   spif                 6776 non-null   object
 10  Non-Commissionable   6776 non-null   object
 11  Item Classification  6776 non-null   object
 12  Item Status          6776 non-null   object
 13  Floor Price          6776 non-null   float64
 14  Available            6776 non-null   object
 15  Price Level          6776 non-null   object
 16  Cell                 6776 non-null   object
 17  Color                6776 non-null   object
 18  Abbr. Description    6776 non-null   object
 19  Unnamed: 19          1 non-null      float64
 20  Unnamed: 20          3 non-null      object
 21  Unnamed: 21          2 non-null      float64
 22  Unnamed: 22          2 non-null      float64
 23  Unnamed: 23          3 non-null      object
 24  Unnamed: 24          3 non-null      float64
 25  Unnamed: 25          3 non-null      float64
 26  Unnamed: 26          3 non-null      float64
 27  Unnamed: 27          3 non-null      float64
 28  Unnamed: 28          3 non-null      float64
 29  Unnamed: 29          3 non-null      float64
 30  Unnamed: 30          3 non-null      float64
 31  Unnamed: 31          3 non-null      float64
 32  Unnamed: 32          3 non-null      float64
 33  Unnamed: 33          3 non-null      float64
 34  Unnamed: 34          3 non-null      float64
 35  Unnamed: 35          3 non-null      float64
 36  Unnamed: 36          3 non-null      float64
 37  Unnamed: 37          3 non-null      float64
 38  Unnamed: 38          3 non-null      float64
 39  Unnamed: 39          3 non-null      float64
 40  Unnamed: 40          3 non-null      float64
 41  Unnamed: 41          3 non-null      float64
 42  Unnamed: 42          3 non-null      float64
 43  Unnamed: 43          3 non-null      float64
 44  Unnamed: 44          3 non-null      float64
 45  Unnamed: 45          2 non-null      float64
 46  Unnamed: 46          3 non-null      float64
 47  Unnamed: 47          3 non-null      float64
 48  Unnamed: 48          3 non-null      float64
 49  Unnamed: 49          3 non-null      float64
 50  Unnamed: 50          3 non-null      float64
 51  Unnamed: 51          3 non-null      float64
 52  Unnamed: 52          3 non-null      float64
 53  Unnamed: 53          3 non-null      object
 54  Unnamed: 54          3 non-null      float64
 55  Unnamed: 55          3 non-null      float64
 56  Unnamed: 56          1 non-null      object
 57  Unnamed: 57          1 non-null      float64
 58  Unnamed: 58          1 non-null      float64
dtypes: float64(37), object(22)
memory usage: 3.1+ MB

In [ ]:
df_from_excel.columns

Index(['Name', 'Display Name', 'Manufacturer', 'MPN', 'Description', 'Type',
       'Base Price', 'Tier Price/Watt', 'Wattage', 'spif',
       'Non-Commissionable', 'Item Classification', 'Item Status',
       'Floor Price', 'Available', 'Price Level', 'Cell', 'Color',
       'Abbr. Description', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58'],
      dtype='object')

In [ ]:
df_from_excel.isna().sum()

Name                      0
Display Name              0
Manufacturer              0
MPN                       0
Description               0
Type                      0
Base Price                0
Tier Price/Watt           0
Wattage                   0
spif                      0
Non-Commissionable        0
Item Classification       0
Item Status               0
Floor Price               0
Available                 0
Price Level               0
Cell                      0
Color                     0
Abbr. Description         0
Unnamed: 19            6775
Unnamed: 20            6773
Unnamed: 21            6774
Unnamed: 22            6774
Unnamed: 23            6773
Unnamed: 24            6773
Unnamed: 25            6773
Unnamed: 26            6773
Unnamed: 27            6773
Unnamed: 28            6773
Unnamed: 29            6773
Unnamed: 30            6773
Unnamed: 31            6773
Unnamed: 32            6773
Unnamed: 33            6773
Unnamed: 34            6773
Unnamed: 35            6773
Unnamed: 36            6773
Unnamed: 37            6773
Unnamed: 38            6773
Unnamed: 39            6773
Unnamed: 40            6773
Unnamed: 41            6773
Unnamed: 42            6773
Unnamed: 43            6773
Unnamed: 44            6773
Unnamed: 45            6774
Unnamed: 46            6773
Unnamed: 47            6773
Unnamed: 48            6773
Unnamed: 49            6773
Unnamed: 50            6773
Unnamed: 51            6773
Unnamed: 52            6773
Unnamed: 53            6773
Unnamed: 54            6773
Unnamed: 55            6773
Unnamed: 56            6775
Unnamed: 57            6775
Unnamed: 58            6775
dtype: int64

In [5]:
df_from_excel.drop(columns = ['Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58'], inplace = True)

We may drop few more columns which are not needed

In [6]:
df_from_excel.drop(columns = ['Name', 'Manufacturer', 'MPN', 'Type',
        'Tier Price/Watt', 'Wattage', 'spif',
       'Non-Commissionable', 'Item Classification', 'Item Status',
       'Floor Price', 'Price Level', 'Cell', 'Color',
       'Abbr. Description'], inplace = True)

In [7]:
df_from_excel = df_from_excel.rename(columns={'Display Name': 'Item', 'Base Price': 'Price','Available':'Availability'})

In [ ]:
df_from_excel['Price'].mode().values[0]

0

In [ ]:
df_from_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6776 entries, 0 to 6775
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   6776 non-null   int64
 1   Item         6776 non-null   object
 2   Description  6776 non-null   object
 3   Price        6776 non-null   object
dtypes: int64(1), object(3)
memory usage: 211.9+ KB

In [ ]:
df_from_excel['Price'] = df_from_excel['Price'].astype(str)

In [ ]:
for index, row in df_from_excel.iterrows():
    if '\xa0' in row['Price']:
      df_from_excel.at[index, 'Price'] = row['Price'].replace('\xa0', '0')
    if '$' in row['Price']:
      df_from_excel.at[index, 'Price'] = row['Price'].replace('$', '')
    if 'C ' in row['Price']:
      df_from_excel.at[index, 'Price'] = row['Price'].replace('C ', '')
    else:
      continue

In [ ]:
k=0
for i in range(len(df_from_excel)):
  try:
    df_from_excel['Price'][i] = float(df_from_excel['Price'][i])
  except Exception as e:
    k+=1
    print(e, df_from_excel['Price'][i] )
print (k)

<ipython-input-23-ad6652b3c5e3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_from_excel['Price'][i] = float(df_from_excel['Price'][i])

0

In [10]:
df_from_excel['Availability'] = df_from_excel['Availability'].astype(str)

In [13]:
for index, row in df_from_excel.iterrows():
    df_from_excel.at[index, 'Availability'] = row['Availability']+" "+"Units are available "

In [14]:
df_from_excel.isna().sum()

Item            0
Description     0
Price           0
Availability    0
dtype: int64

In [15]:
df_from_excel

,Item,Description,Price,Availability
0,360-0329,"Enphase, IQ, Q-Cable, 240 Volt, for 60 cell 1....",20.53,166212 Units are available
1,360-0328,"Enphase, IQ, Q-Cable, 240 Volt, for 60/72 cell...",17.45,83983 Units are available
2,360-0338,"Enphase, IQ, Q Cable, 12 AWG, no connectors, U...",1.42,78482 Units are available
3,321-0233,"Enphase, IQ 8+ Micro Inverter, compatible with...",160,60662 Units are available
4,360-0333,"Enphase, IQ, Terminator Cap for Q-Cable Ends, ...",18.05,31067 Units are available
...,...,...,...,...
6771,110-1338,"Mission, 340W PV Module, MC4, 1.0m (~39.4”) PV...",,17 Units are available
6772,110-1249,"Canadian Solar, 400W PV Module, 2.0m (78.7 in)...",,16 Units are available
6773,110-1313-B,"""B"" Grade Aptos, 365W PV Module, 1.2m (~47.2”)...",,10 Units are available
6774,110-1293,"Canadian Solar, 395W PV Module, 1.65m (65 in) ...",,10 Units are available
6775,110-1365,"REC, 370W PV Module, 1.1m (~43.3”), 1.2m (~47....",,3 Units are available

In [ ]:
#df_from_excel.drop(columns=['Unnamed: 0'],inplace = True)

In [16]:
#saving the table as csv
df_from_excel.to_excel("/content/drive/MyDrive/projects/greentech/soligent.xlsx")